<div class="container">
	<h1>Hello, <span class="babelled">{{{ author }}}</span>!</h1>
	<p>You are viewing the <span class="babelled">{{ containerID }}</span> Game.</p>
	<p>Having a build version of : <span class="babelled">{{ buildVer }}</span>. </p>
	<div class="splash"></div>
</div>
